.bridge {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 80%;
    max-width: 350px;
}

.bridge input, button {
    background-color: transparent;
    color: white;
    outline: none;
    border: 1px solid white;
    border-radius: 50em;
    text-align: center;
    padding: 0.5em 1em;
    font-size: 1em;
}